---
---

@import 'carousel';
@import 'team';
body {
  padding-top: 3rem;
  color: #154370 !important;
}
button{
  cursor: pointer;
}
.navbar a {
  color: #154370 !important;
  font-size: x-large;
}
.btn-pink {
  background-color: #cf1b81;
}
.btn-fiolet {
  background-color: #857bbd;
}
.nav-link, .nav-link:hover, .mamm {
  color: #cf1b81;
}
.nav-link.active, .doll {
  color: #857bbd !important;
}
