 <!-- Banner -->
 <div class="py-5" style="background-image: url('./img/head-bg.jpg'); background-attachment: fixed;
 background-position: center; background-size:cover; background-repeat: no-repeat; min-height: 36rem">
     <div class="container">
       <div class="row">
         <div class="col-10 py-5 m-auto">
           <h2 class="text-uppercase">
             <span class="doll d-block font-weight-bold">Лечение</span>
             <span class="mamm d-block">опорно-двигательной системы </span>
             <span class="doll d-block small">в клинике академика Дикуля</span>
           </h2>
           
           <p class="font-weight-bold" style="color: #154370">Диагностика,</br> лечение заболеваний суставов</br>
             и все виды артроскопических операций</p> 
           </div>
                 
     </div>  
     
   </div>    
   </div>