<div style="background-image: url('./img/doctor/bg-form.jpg'); background-attachment: fixed;
 background-position: center; background-size:cover; background-repeat: no-repeat; max-height: 36rem" class="py-5 py-sm-0">
   <div class="container">
     <div class="row align-items-center">       
       <div class="d-none d-sm-block col-sm-5 " >
         <img src="./img/doctor/doc2.png" class="img-fluid float-left" style="max-height: 36rem" alt="doc">
       </div>
       <div class="col-12 col-sm-7 " id="contact-form-bottom">
           <form id="contact-form" action="https://formspree.io/leonid.baldin@masterdata.ru" method="post">
            <h3 class="text-center  text-white">Закажите прямо сейчас</h3> 
            <div class="form-row">
               <div class="form-group col-12 col-md-4 mb-1">
                   <input type="text" name="name" required class="form-control" id="input_name" placeholder="ИМЯ*">
               </div>
               <div class="form-group col-12 col-md-4 mb-1">
                   <input type="text" name="phone" required class="form-control" id="input_phone" placeholder="ТЕЛЕФОН*">
               </div>
               <div class="form-group col-12 col-md-4 mb-0">
                   <input type="email" name="email" class="form-control" id="input_email" placeholder="E-MAIL">
               </div>
               
               <div class="col-12 text-center mt-2">
                   <button type="submit" class="btn btn-lg btn-fiolet text-white">Заказать</button>
               </div>
             </div>                                     
           </form>
           <div id="thanx" style="display:none">
             <h3  class="text-center  text-white">Спасибо за обращение!</br>
             В ближайшее время с Вами свяжется наш менеджер.</h3>
          </div>
       </div>
     </div>
   </div>

 </div>
