<nav class="navbar fixed-top bg-light">
    <div id="logo" class="col-12 col-md-4 text-center">
      <a href="index.html">
        <img class="img-fluid" src="./img/logo.png" alt="Logo">
      </a>
    </div>
    <div id="phone" class="col-12 col-md-4 text-center my-auto text-white">
      <a href="tel:+380991122338"><i class="fa fa-phone"></i>+38(066) 777 88 99</a>                              
    </div>
    <div id="social" class="col-12 col-md-4 text-center my-auto">
      <a href="https://www.facebook.com/">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://www.twitter.com/">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/">
        <i class="fa fa-linkedin"></i>
      </a>              
    </div>  
</nav>

