<div class="container py-3">
		
	<div class="row align-items-center py-3">
	  
	  <div class="col-md-5 {% cycle '', 'order-md-2' %}">
		<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="img/klimona.png" data-holder-rendered="true">
	  </div>
	  <div class="col-md-7 {% cycle '', 'order-md-1' %}">
		  <h2 class="featurette-heading text-center d-none d-md-block">
			<span class="mamm">КЛИ</span><span class="doll">МОНА&#174;</span>
			  <!--<span class="text-muted">{{project.subtitle}}</span>-->
			</h2>
		<p class="lead">
			Климона — негормональный вагинальный увлажняющий гель. Устраняет вагинальный дискомфорт, восстанавливает баланс вагинальной микрофлоры и поддерживает физиологический уровень рН, обеспечивает восстановление и защиту слизистой после инфекционно-воспалительных состояний влагалища, имеет регенерирующее, противовоспалительное, антибактериальное, проивогрибковое, увлажняющее действие.
		  
		</p>
		<div class="text-center">
		  <button type="button" class="btn btn-pink btn-lg text-white" data-toggle="modal" data-target="#klimona">Подробнее</button>
		  	<!-- Modal -->
			<div class="modal fade bd-example-modal-lg" id="klimona" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header text-center">
					<h5 class="modal-title" align="center" id="exampleModalLongTitle" style="margin: 0 auto;"><span class="mamm">КЛИ</span><span class="doll">МОНА&#174;</span></h5>
					<button type="button" class="close" data-dismiss="modal" style="margin: 0px; padding: 0px" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body" style="padding-top: 0px">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
						<a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="home" aria-selected="true">Описание</a>
						</li>
						<li class="nav-item">
						<a class="nav-link" id="instruction-tab" data-toggle="tab" href="#instruction" role="tab" aria-controls="profile" aria-selected="false">Инструкция</a>
						</li>                
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active"  style="text-align: justify; text-justify: newspaper;" id="description" role="tabpanel" aria-labelledby="description-tab">Алоэ усиливает местный иммунитет, способствует регенерации слизистой оболочки влагалища, увлажняет, устраняет раздражение и зуд. Биологически активные компоненты алоэ обладают противовоспалительными, антибактериальными и противогрибковыми свойствами.

								Ромашка обладает противовоспалительным действием, усиливает процессы регенерации, способствует быстрому заживлению микротравм и трещин, обладает тонизирующим эффектом.
								
								Мальва оказывает смягчающее, успокаивающее и противовоспалительное действие.
								
								Гиалуроновая кислота (в виде натрия гиалуроната), являясь естественным молекулярным биополимером, обладает уникальной способностью связывать и удерживать молекулы воды, что сопровождается активным увлажнением влагалища; способствует заживлению и снятию воспалительных реакций.
								
								Молочная кислота восстанавливает баланс вагинальной микрофлоры и поддерживает физиологический уровень pH.
								
								Пантенол нормализует клеточный метаболизм, ускоряет процессы регенерации тканей, оказывает противовоспалительный эффект.</div>
						<div class="tab-pane fade"  style="text-align: justify; text-justify: newspaper;" id="instruction" role="tabpanel" aria-labelledby="instruction-tab">Перед применением рекомендуется тщательно вымыть руки с мылом.

								Содержимое тубы встряхнуть, отделить пломбу, не допуская вытекания геля.
								
								Принять горизонтальное положение (лежа на спине), согнуть ноги в коленях и развести. Ввести тонкую часть тубы полностью во влагалище и выдавить содержимое тубы, нажимая на нее 2–3 раза.
								
								Каждая туба расчитана на одно применение. Рекомендуется использовать гигиенические прокладки, так как некоторое количество геля может вытекать.
								
								Рекомендуется использовать на ночь перед сном на протяжении 7 — 10 дней. Гель Климона можно использовать курсами или по мере необходимости.</div>
						
					</div>
					</div>         

					
					

				</div>
				</div>
			</div>

		  <a class="btn btn-fiolet btn-lg text-white" href="#contact-form-bottom" role="button" style="min-width: 138.44px;">Заказать</a> 
		</div> 
	  </div>
	</div>
   <!-- <hr class="featurette-divider"> -->
	
  </div>
  